<script src="//cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vertx/3.5.1/vertx-eventbus.min.js"></script>
<script src="js/vertx/scan_service-proxy.js"></script>
<script>
    var eb = new EventBus('http://localhost:8080/eventbus');
    eb.onopen = function () {
        eb.enableReconnect(true);

        /*eb.send('com.isamedia.scan:scan-service', {path:"Teste oi oi "}, {action: 'scan'}, function(err, result) {
            console.log(err);
            console.log(result);
        });*/

        new ScanService(eb, "com.isamedia.scan:scan-service").scan("Teste oi oi", function(err, result) {
            console.log(err);
            console.log(result);
        });

        // use the service
        eb.registerHandler('com.isamedia.scan:scan-service', function (err, message) {
            console.log('scan-service-address');
            console.log(message)
        });

        eb.registerHandler('web-service-address', function (err, message) {
            console.log('web-service-address');
            console.log(message)
        });
    };

</script>
